<h1>Client List</h1>
<div class="card-panel teal lighten-2">
  <% if @clients.any?() %>

  <ul>
    <% @clients.each do |client| %>
    <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no clients yet!</p>
  <% end %>
</div>

<div class="stylist-links">
  <a href="/" class="waves-effect waves-teal btn-flat">Home</a>
</div>
