<h1>Hair Salon</h1>

<div class="card-panel teal lighten-2">
  <h4>Add A Stylist</h4>

  <form action="/stylists" method="post">
    <label for="name">Stylist Name:</label>
    <input id="name" name="name" type="text">

    <button class="btn-floating btn-large waves-effect waves-light red" type="submit">Add Stylist</button>
  </form>

  <br>

  <h4> Add A Client</h4>

  <form action="/clients" method="post">

    <label for="client_name">Client Name:</label>
    <input id="client_name" name="client_name" type="text">

    <label for="appointment_time">Appointment Time:</label>
    <input id="appointment_time" name="appointment_time" type="text">

    <label for="stylist_id">Select a Stylist:</label>
    <div class="input-field">
      <select class="browser-default"id='stylist_id' name='stylist_id' type='text'>
        <% @stylists.each() do |stylist| %>
          <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
        <% end %>
      </select>
    </div>

    <br>

    <button class="btn-floating btn-large waves-effect waves-light red" type="submit">Add Client</button>
  </form>
</div>

<div class ="all-clients">
  <% if @stylists.any?() %>
  <h5>Click on a stylist to see their clients</h5>

  <ul class ="collection">
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>" class="collection-item"><%= stylist.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>

  <a href="/clients" class="waves-effect waves-teal btn-flat">View All Clients</a>
</div>
